*{

}
/* color Scheme black backgroun and green text and boxes. */
:root{
    --title-color: #32a85a;
}

h1, h2, h3{
color: var(--title-color);
}

header{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px;
}

h1{
    font-size: xx-large;
}

h3{
    font-size: 10px;
}
p{
    font-size: smaller;
}

body{
    background: gray;
}

footer{
    flex-shrink: 0;
    text-align: center;
    margin-top: auto;
    text-size-adjust: 30px;
}