*{

}
/* color Scheme black backgroun and green text and boxes. */
:root{
    --title-color: #32a85a;
}

.el-colum {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.el-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--title-color);
    outline: 2px dotted var(--title-color);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}

h1, h2, h3{
color: var(--title-color);
}

header{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px;
}

h1{
    font-size: xx-large;
}

h3{
    font-size: 10px;
}
p{
    font-size: smaller;
}

body{
    background: gray;
}

footer{
    flex-shrink: 0;
    text-align: center;
    margin-top: auto;
    text-size-adjust: 30px;
}