*{

}
/* color Scheme black backgroun and green text and boxes. */
:root{
    --title-color: #32a85a;
}

h1, h2{
color: var(--title-color);
}

.header{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    border:#32a85a;
}