*{

}
/* color Scheme black backgroun and green text and boxes. */
:root{
    --title-color: #32a85a;
}

.el-colum {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.el-card-code {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    color: var(--header-color);
    border: 2px solid var(--text-color);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.el-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--title-color);
    outline: 2px dotted var(--title-color);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}

.el-card .el-block {
    flex-grow: 1;
}

.el-card pre{
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--title-color);
    border-radius: 8px;
    background-image: linear-gradient( rgb(22,215,148, 0.3) 0%, rgba(22, 214, 118, 0.8) 100% );
    display: flex;
    align-items: center;
}

.el-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--title-color);
    outline: 2px dotted var(--title-color);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
    color: white;
}

.como-esta {
    position: relative;
    padding: 10px;
    text-align: center;
    border-style: dashed;
    border-width: 1px;
    width: 25%;
    margin: 20px;
    justify-content: center;
}

h1, h2, h3{
color: var(--title-color);
}

header{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px;
}

h1{
    font-size: xx-large;
}

h3{
    font-size: 10px;
}

*section{
    display: block;
}

p{
    font-size: smaller;
}

body{
    background: gray;
    font-size: medium;
    line-height: 1.5;
}

footer{
    flex-shrink: 0;
    text-align: center;
    margin-top: auto;
    text-size-adjust: 30px;
}